.p-featured-items__header-image {
  background: url('https://gigaplus.makeshop.jp/morihan1836/feature-page/aged-day/images/featured-item_mv.jpg')
    center center / cover;
}
.p-featured-items__pickup {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;
  @media (--lg) {
    grid-template-columns: 375fr 675fr;
    grid-template-rows: auto;
    column-gap: 50px;
    align-items: center;
  }
}
.p-featured-items__pickup-img-wrapper {
  display: grid;
  grid-template-columns: 224fr 60fr;
  column-gap: 10px;

  @media (--lg) {
    grid-template-columns: 312fr 347fr;
    column-gap: 16px;
    grid-column: 2/3;
    grid-row: 1/1;
  }
}

.p-featured-items__pickup-image {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 0px 20px 0px #00000033;
}

.p-featured-items__pickup-sub-images {
  display: grid;
  grid-template-rows: 1fr;
  row-gap: 3px;

  @media (--lg) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    row-gap: 8px;
  }
}
.p-featured-items__pickup-image--sub {
  border-radius: 8px;
  overflow: hidden;
}
.p-featured-items__pickup-text {
  @media (--lg) {
    grid-column: 1 / 2;
    grid-row: 1/1;
  }
}
.p-featured-items__pickup-title {
  font-size: fz(24, 38);
  font-weight: var(--fw-semibold);
  color: var(--color-main);
}
.p-featured-items__pickup-price {
  font-size: 16px;
  font-weight: var(--fw-medium);
  color: var(--color-main);
  position: relative;
}
.p-featured-items__pickup-deco--1 {
  position: absolute;
  bottom: -60%;
  right: 0;
  width: calc(42 / 335 * 100%);
  z-index: -1;
  &::before {
    content: '';
    position: absolute;
    left: -30px;
    top: 0px;
    background: url('https://gigaplus.makeshop.jp/morihan1836/feature-page/aged-day/images/svg/hana2.svg')
      no-repeat center;
    width: 30px;
    height: 30px;
  }
  @media (--lg) {
    display: none;
  }
}
.p-featured-items__deco--2 {
  display: none;
  @media (--lg) {
    display: block;
    position: absolute;
    bottom: 50%;
    left: 2%;
    width: calc(87 / 1340 * 100%);
    z-index: -1;
  }
}
.p-featured-items__deco--3 {
  display: none;
  @media (--lg) {
    display: block;
    position: absolute;
    bottom: 14%;
    right: 2%;
    width: calc(80 / 1340 * 100%);
    z-index: -1;
  }
}

.p-featured-items__pickup-price-amount {
  font-size: 24px;
}
.p-featured-items__pickup-description {
  font-size: fz(13, 14);
  font-weight: var(--fw-regular);
  background-color: #f6f3e9;
  border-radius: 8px;
  padding-inline: 6px;
  padding-block: 14px;
  margin-block-start: 12px;
  @media (--lg) {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      left: -20px;
      bottom: 0px;
      background: url('https://gigaplus.makeshop.jp/morihan1836/feature-page/aged-day/images/svg/hana4.svg')
        no-repeat center;
      width: 30px;
      height: 30px;
    }
  }
}

.p-featured-items__pickup-link {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    left: -10%;
    top: -20px;
    background: url('https://gigaplus.makeshop.jp/morihan1836/feature-page/aged-day/images/svg/hana3.svg')
      no-repeat center;
    width: 30px;
    height: 30px;
    @media (--md) {
      left: -30%;
    }
    @media (--lg) {
      display: none;
    }
  }
}

.p-featured-items__item--2 {
  @media (--xl) {
    .c-item-card__content {
      position: relative;
      &::before {
        content: '';
        position: absolute;
        left: -20px;
        top: 16px;
        background: url('https://gigaplus.makeshop.jp/morihan1836/feature-page/aged-day/images/svg/hana2.svg')
          no-repeat center;
        width: 30px;
        height: 30px;
      }
    }
  }
}

.p-featured-items__item--3 {
  .c-item-card__title-ja {
    text-orientation: upright;
    .fz-sm {
      font-size: fz(12, 20);
    }
  }
  @media (--xl) {
    .c-item-card__title {
      &::before {
        content: '';
        position: absolute;
        right: -20px;
        bottom: -20px;
        background: url('https://gigaplus.makeshop.jp/morihan1836/feature-page/aged-day/images/svg/hana1.svg')
          no-repeat center;
        width: 30px;
        height: 30px;
      }
    }
  }
}

.p-featured-items__item--4 {
  .c-item-card__title-ja {
    .fz-sm {
      font-size: fz(12, 20);
    }
  }
}
