.p-footer__bg {
  background: url('/images/footer-bg.jpg') no-repeat center center / cover;
  /* z-index: -2; */
  position: relative;
  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.57);
    z-index: 0;
  }
}

.p-footer__inner {
  position: relative;
  z-index: 1;
  padding-block: 86px 147px;
  display: flex;
  flex-direction: column;
  row-gap: 49px;
  @media (--xl) {
    row-gap: 71px;
    padding-block: 90px 86px;
  }
}
.p-footer__logo {
  max-width: 163px;
  margin-inline: auto;
}
.p-footer__nav-list {
  color: var(--color-white);
  font-weight: var(--fw-bold);
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 22px;
  @media (--xl) {
    flex-direction: row;
    gap: 24px;
    justify-content: center;
  }
}
.p-footer__nav-item {
  text-align: center;
  font-size: fz(13, 14);
  &:not(:last-child) {
    @media (--xl) {
      border-right: 1px solid var(--color-white);
      padding-right: 24px;
    }
  }
}
