@import '../global/variables.css';
.p-gift {
  background-color: #f2eae4;
}
.p-gift__img {
  width: calc(215 / 335 * 100%);
  margin-inline: auto;
}

.p-gift__description {
  font-size: 14px;
  font-weight: var(--fw-medium);
}

.p-gift__attention {
  color: #a8000e;
  background-color: var(--color-white);
  padding: 15px 20px;
  font-size: fz(12, 14);
  border-radius: 24px;
  @media (--md) {
    padding: 16px 17px;
  }
}
