@import '../global/variables.css';
.p-gift {
  background-color: #f2eae4;
  padding-block: 73px 76px;
  @media (--md) {
    padding-block-end: 59px;
  }
}
.p-gift__title {
  color: var(--color-main);
  text-align: center;
  font-weight: var(--fw-semibold);
  font-size: fz(26, 40);
}
.p-gift__catch {
  display: flex;
  align-items: center;
  justify-content: center;
}
.p-gift__catch-text {
  color: #c96645;
  font-size: fz(18, 26);
  white-space: nowrap;
  transform: skewX(-10deg);
  span {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: -10px;
      left: 50%;
      transform: translateX(-50%);
      width: 6px;
      height: 6px;
      background-color: #c96645;
      border-radius: 50%;
    }
  }
}
.p-gift__catch-deco {
  &._reverse {
    transform: rotate(180deg);
  }
}

.p-gift__title-dots {
  display: flex;
  gap: 4px;
  justify-content: center;
  @media (--md) {
    display: none;
  }
}

.p-gift__title-dot {
  width: 3px;
  aspect-ratio: 1 / 1;
      background-color: #c96645;
  border-radius: 50%;
}

.p-gift__content {
  display: flex;
  flex-direction: column;
  gap: 9px;
  max-width: 985px;
  margin-inline: auto;
  @media (--md) {
    flex-direction: row;
    gap: 42px;
    justify-content: center;
    align-items: center;
  }
}
.p-gift__img {
  width: calc(215 / 335 * 100%);
  margin-inline: auto;
  @media (--md) {
    width: calc(341 / 985 * 100%);
  }
}

.p-gift__description {
  font-size: 14px;
  font-weight: var(--fw-medium);
  display: grid;
  gap: 20px;
  @media (--md) {
    width: calc(602 / 985 * 100%);
    gap: 13px;
  }
}

.p-gift__attention {
  color: #a8000e;
  background-color: var(--color-white);
  padding: 15px 20px;
  font-size: fz(12, 14);
  border-radius: 24px;
  @media (--md) {
    padding: 16px 17px;
  }
}
