@import '../global/variables.css';

.p-nav__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 14px;
  @media (--md) {
    grid-template-columns: repeat(5, 1fr);
  }
}
.p-nav__item {
  position: relative;
  border: 1px solid var(--color-sub);
  border-radius: 8px;
  height: 90px;
  &::after {
    content: '';
    display: inline-block;
    width: 4px;
    height: 4px;
    background-color: var(--color-sub);
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
}
.p-nav__link {
  align-items: center;
  gap: 4px;
  height: 100%;
  display: flex;
  justify-content: center;
}

.p-nav__thumb {
  max-width: 32px;
  position: absolute;
  left: 50%;
  top: -10px;
  transform: translateX(-50%);
}

.p-nav__text {
  text-align: center;
  font-size: fz(14, 15);
  font-weight: var(--fw-semibold);
  color: var(--color-main);
  @media (--md) {
    font-size: 16px;
  }
}
