@import '../global/variables.css';
.p-nav {
  padding-block: 35px 27px;
}
.p-nav__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 14px;
  row-gap: 19px;
  @media (--md) {
    grid-template-columns: repeat(5, 1fr);
    gap: 16px;
  }
}
.p-nav__item {
  position: relative;
  border: 1px solid var(--color-sub);
  border-radius: 8px;
  height: 90px;
  &::after {
    content: '';
    position: absolute;
    bottom: 13px; /* 下からの位置はそのまま */
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 6px solid transparent; /* 左辺 */
    border-right: 6px solid transparent; /* 右辺 */
    border-top: 6px solid var(--color-sub); /* 下向きにするには上辺に色 */
  }
}
.p-nav__link {
  align-items: center;
  gap: 4px;
  height: 100%;
  display: flex;
  justify-content: center;
}

.p-nav__thumb {
  max-width: 32px;
  position: absolute;
  left: 50%;
  top: -10px;
  transform: translateX(-50%);
}

.p-nav__text {
  text-align: center;
  font-size: fz(14, 15);
  font-weight: var(--fw-semibold);
  color: var(--color-main);
  @media (--md) {
    font-size: 16px;
  }
}
