@import '../global/variables.css';

.p-price__bg {
  position: relative;
  top: 20%;
  background: url('/images/price-bg.png') no-repeat left 20% / cover;
  padding-block-start: 171px;
  padding-block-end: 102px;
  @media (--lg) {
    background: url('/images/price-bg.png') no-repeat left top / cover;
  }
}

.p-price__category-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 88px;
  @media (--lg) {
    row-gap: 108px;
  }
}

.p-price__category {
  background-color: var(--color-white);
  border-radius: 16px;
  max-width: 1200px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-inline: 10px;
  padding-block: 80px 40px;

  @media (--lg) {
    padding-inline: 50px;
    padding-block: 100px 40px;
  }
}

.p-price__items {
  display: grid;
  row-gap: 10px;
  @media (--lg) {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 25px;
  }
}
.p-price__title {
  position: absolute;
  top: 2px;
  left: 50%;
  transform: translate(-50%, -50%);
  @media (--lg) {
    top: 4px;
  }
}
