.p-reasons {
  padding-block: 85px 40px;
  @media (--md) {
    padding-block: 177px 140px;
    position: relative;
  }
}
.p-reasons__deco--above,
.p-reasons__deco--below {
  @media (--lg) {
    position: absolute;
  }
}
.p-reasons__deco--above {
  top: 0;
  right: 0;
  width: calc(303 / 1440 * 100%);
}
.p-reasons__deco--below {
  bottom: 0;
  left: 0;
  width: calc(253 / 1440 * 100%);
}

.p-reasons__header {
  position: relative;
}
.p-reasons__header-deco {
  position: absolute;
  bottom: -12px;
  left: 50%;
  line-height: 1;
  font-size: fz(160, 300);
  font-family: var(--font-en);
  font-weight: var(--font-weight-semibold);
  color: #efebde;
  transform: translateX(-50%) rotate(-12deg);
  z-index: -1;
  @media (--md) {
    bottom: -46px;
  }
}
.p-reasons__list {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 60px;
  margin-block-start: 40px;
  @media (--lg) {
    row-gap: 60px;
    margin-block-start: 60px;
  }
}
.p-reasons__item {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
  row-gap: 30px;
  @media (--lg) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    column-gap: 20px;
    row-gap: 0;
  }
}

.p-reasons__text-area {
  grid-row: 2/3;
  grid-column: 1 / 1;

  @media (--lg) {
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 20px;
    grid-column: 1 / 2;
    grid-row: 1 / 1;

    ._reverse & {
      grid-column: 2 / 3;
      grid-row: 1 / 1;
    }
    &._button {
      @media (--lg) {
        grid-template-rows: repeat(2, auto);
        .c-reasons-title {
          grid-row: 1 / 3;
        }
      }
    }
  }
  .c-reasons-title {
    @media (--lg) {
      grid-column: 2 / 3;
      grid-row: 1 / 1;
      writing-mode: vertical-rl;
    }
  }
  .p-reasons__text-wrapper {
    @media (--lg) {
      grid-column: 1 / 2;
      grid-row: 1/1;
      position: relative;
    }
  }
}
.p-reasons__num {
  display: none;
  font-size: 260px;
  font-weight: var(--font-weight-semibold);
  color: var(--color-white);
  font-family: var(--font-en);
  line-height: 1;
  letter-spacing: -0.1em;
  @media (--lg) {
    display: block;
    position: absolute;
    top: -50%;
    right: -3%;
    z-index: -1;
  }
}
.p-reasons__text {
  font-size: 14px;
  line-height: 2;
  margin-block-start: 16px;
  @media (--lg) {
    margin-block-start: 0;
  }
}
.p-reasons__img-area {
  grid-row: 1/2;
  grid-column: 1 / 1;

  @media (--lg) {
    grid-column: 2 / 3;
    grid-row: 1 / 1;
    ._reverse & {
      grid-column: 1 / 2;
      grid-row: 1 / 1;
    }
  }
}
