@import '../global/variables.css';

.c-base-button {
  display: grid;
  place-items: center;
  height: 48px;
  background: var(--color-sub);
  color: var(--color-white) !important;
  border-radius: 100px;
  max-width: 270px;
  margin-inline: auto;
  width: 100%;
  transition: all 0.3s ease-in-out;
  @media (--lg) {
    max-width: 300px;
  }
  &.p-reasons__link {
    background-color: var(--color-sub2);
    margin-block-start: 20px;
    @media (--lg) {
      margin-block-start: 0;
      align-self: end;
    }
    &:hover {
      background-color: var(--color-white);
      color: var(--color-sub2)!important;
      border: 1px solid var(--color-sub2);
    }
  }
  &:hover {
    background-color: var(--color-white);
    color: var(--color-sub)!important;
    border: 1px solid var(--color-sub);
  }
}
