@import '../global/variables.css';

.c-item-card__category {
  background-color: var(--color-white);
  padding-block: 20px 40px;
  padding-inline: calc(8 / 335 * 100%);
  margin-block-start: -30px;
  border-radius: 8px;
  z-index: 1;
  @media (--lg) {
    padding-inline: calc(120 / 1340 * 100%);
  }
}
.c-item-card__items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto;
  gap: 20px 7px;
  @media (--lg) {
    gap: 20px 22px;
  }
}
.c-item-card {
  border: 1px solid var(--color-sub);
  overflow: hidden;
  border-radius: 8px;
  padding-block: 12px 10px;
  padding-inline: 12px;
  color: var(--color-main);
    position: relative;

  @media (--lg) {
    border-radius: 20px;
    padding: calc(40 / 540 * 100%);
    aspect-ratio: 540 / 470;
    display: flex;
    flex-direction: column;
  }
}
.c-item-card__content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  height: 100%;
  @media (--lg) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto auto;
    justify-items: center;
  }
}

.c-item-card__image {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  aspect-ratio: 135 / 122;
  object-fit: cover;
  object-position: center;
  overflow: hidden;

  @media (--lg) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    aspect-ratio: 260 / 255;
  }
}

.c-item-card__text {
  grid-row: 2/ 3;
  grid-column: 1 / 2;
  @media (--lg) {
    grid-row: 1 / 3;
    grid-column: 2 / 3;
    writing-mode: vertical-rl;
  }
}

.c-item-card__title {
  font-size: fz(14, 28);
  font-weight: var(--fw-semibold);
  line-height: 1.2;
  padding-block-end: 12px;
  @media (--lg) {
    padding-block-end: 16px;
  }
}
.c-item-card__description {
  display: none;
  @media (--lg) {
    display: block;
    font-size: 14px;
    border-radius: 12px;
    font-weight: var(--fw-regular);
    background-color: #f6f3e9;
    color: var(--color-text);
    padding: 12px 16px 12px;
    margin-block-end: 20px;
  }
}
.c-item-card__price {
  font-size: fz(12, 16);
  line-height: 2.75;
  padding-block-start: 3px;
  border-top: 1px dashed var(--color-sub);
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  width: 100%;
  .c-item-card__price-amount {
    font-size: fz(18, 24);
    line-height: 1.83;
  }
  @media (--lg) {
    border-top: none;
    padding-block-start: 0;
    border-bottom: 2px dashed var(--color-sub);
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    text-align: right;
  }
}
