@import '../global/variables.css';

.c-link-button:not(.p-featured-items__pickup-link) {
  display: inline-flex;
  position: absolute;
  inset: 0;
  background: transparent;
  padding: 0;
  color: transparent;
  text-align: center;
  width: 100%;
  @media (--lg) {
    align-items: center;
    justify-content: center;
    padding: 13px 12px;
    background: var(--color-sub);
    color: var(--color-white);
    border-radius: 100px;
    text-decoration: none;
    margin-block-start: 12px;
    inset: auto;
    position: relative;
    ._price-4000 & {
      background: var(--color-sub3);
    }
    ._price-6000 & {
      background: var(--color-sub4);
    }
  }
  &.c-item-card__link {
    @media (--lg) {
      display: block;
      grid-column: 1 / 3;
      grid-row: 3 / 4;
      height: 60px;
      margin-block-start: 26px;
      max-width: 388px;
      margin-inline: auto;
    }
  }
  &.c-price-card__link {
    @media (--lg) {
      margin-inline: auto;
      height: 40px;
    }
  }
}
.c-link-button__text:not(<.p-featured-items__pickup-link) {
  position: absolute;
  font-weight: var(--fw-bold);
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  @media (--lg) {
    position: relative;
    width: auto;
    height: auto;
    overflow: visible;
    clip: auto;
  }
}

.p-featured-items__pickup-link {
  display: grid;
  align-items: center;
  text-align: center;
  justify-items: center;
  background: var(--color-sub);
  color: var(--color-white);
  border-radius: 100px;
  height: 48px;
  max-width: 270px;
  margin-inline: auto;
  margin-block-start: 22px;
  @media (--lg) {
    margin-block-start: 38px;
  }
}
