.c-price-title {
  font-weight: var(--font-semibold);
  color: var(--color-main);
  font-size: fz(26, 42);
  text-align: center;
  line-height: 1.13;
  letter-spacing: 0.06em;
  white-space: nowrap;
  span {
    font-size: fz(14, 20);
  }
}

.c-price-title__en {
  display: block;
  max-width: 107px;
  margin: 0 auto;
}
.c-price-title__ja {
  display: block;
  line-height: 1.5;
  font-size: fz(20, 26) !important;
  letter-spacing: 0.11em;
}
.c-price-title__dots {
  margin-block-start: 12px;
  display: flex;
  gap: 6px;
  justify-content: center;
  @media (--lg) {
    margin-block-start: 18px;
  }
}

.c-price-title__dot {
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--color-sub);
  ._price-4000 & {
    background-color: var(--color-sub3);
  }
  ._price-6000 & {
    background-color: var(--color-sub4);
  }
}
