---
import ItemCard from '../components/ItemCard.astro';
const { items } = Astro.props;
---

<div class='c-item-card__category'>
  <ul class='c-item-card__items'>
    {items.map((item) => (
      <ItemCard {...item} />
    ))}
  </ul>
</div>
