---
const { price } = Astro.props;
import ItemList from '../blocks/ItemList.astro';
import PriceTitle from '../components/PriceTitle.astro';
---

<div class='p-price'>
  <div class='p-price__category'>
    <PriceTitle />
    <div class='p-price__items'>
    </div>
  </div>
  <div class='p-price__category'>
    <PriceTitle />
    <div class='p-price__items'>
    </div>
  </div>
  <div class='p-price__category'>
    <PriceTitle />
    <div class='p-price__items'>
    </div>
  </div>
</div>
