<section id='featured-items' class='p-featured-items'>
  <header class='p-featured-items__header'>
    <div class='p-featured-items__header-image'>
      <img src={`${imgBase}/svg/wave.svg`} alt='' alt='' />
    </div>
    <h2 class='c-section-title'>
      ピックアップアイテム
      <span class='c-section-title__en'> Featured Items </span>
    </h2>
  </header>
  <div class='p-featured-items__inner p-item-list__wrapper'>
    <div class='p-featured-items__item'>
      <div class='p-featured-items__img'>
        <img src={`${imgBase}/svg/wave.svg`} alt='' alt='' />
      </div>
    </div>
  </div>
</section>
