---
const imgBase = import.meta.env.PUBLIC_IMAGE_BASE;
---

<footer class='p-footer'>
  <div class='p-footer__bg'>
    <div class='l-container'>
      <div class='p-footer__inner'>
        <div class='p-footer__logo'>
          <img src={`${imgBase}svg/logo_footer.svg`} alt='森半' />
        </div>
        <div class='p-footer__nav'>
          <ul class='p-footer__nav-list'>
            <li class='p-footer__nav-item'>
              <a href='#gift' class='p-footer__nav-link'
                >ギフト包装・ 熨斗について
              </a>
            </li>
            <li class='p-footer__nav-item'>
              <a href='#reasons' class='p-footer__nav-link'> 選ばれる理由 </a>
            </li>
            <li class='p-footer__nav-item'>
              <a href='#featured-items' class='p-footer__nav-link'> ピックアップアイテム </a>
            </li>
            <li class='p-footer__nav-item'>
              <a href='#delicious-items' class='p-footer__nav-link'>
                "美味しい"を贈る<br />
                おすすめアイテム
              </a>
            </li>
            <li class='p-footer__nav-item'>
              <a href='#relaxation-items' class='p-footer__nav-link'>
                "ほっとする"ひとときを贈る<br />
                おすすめアイテム
              </a>
            </li>
            <li class='p-footer__nav-item'>
              <a href='https://www.tea-and-coffee.shop/' class='p-footer__nav-link'> 公式サイト </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
