<section id='reasons' class='p-reasons'>
  <header class='p-reasons__header'>
    <h2 class='c-section-title'>
      選ばれる理由
      <span class='c-section-title__en'> Why choose us? </span>
    </h2>
  </header>
  <ol class='p-reasons__list'>
    <li class='p-reasons__item'>
      <div class='p-reasons__text-area'>
        <h3 class='p-reasons__title'>
          森半の<br class='is-sm' />
          ブランドについて
        </h3>
        <div class='p-reasons__text'>
          テキストテキストテキストテキストテキストテキスト テキスト テキスト
          テキスト テキスト テキスト テキスト テキスト テキスト テキスト
          テキスト テキスト テキスト テキスト テキスト テキスト テキスト
          テキスト テキストテキストテキスト テキスト テキスト テキスト テキスト
        </div>
        <div class='p-reasons__link'>
          <a href='#' class='c-link'> 詳しく見る </a>
        </div>
      </div>
      <div class='p-reasons__img-area'>
        <div class='p-reasons__img'>
          <img src={`${imgBase}/svg/wave.svg`} alt='' alt='' />
        </div>
      </div>
    </li>
    <li class='p-reasons__item'>
      <div class='p-reasons__text-area'>
        <h3 class='p-reasons__title'>
          森半の<br class='is-sm' />
          ブランドについて
        </h3>
        <div class='p-reasons__text'>
          テキストテキストテキストテキストテキストテキスト テキスト テキスト
          テキスト テキスト テキスト テキスト テキスト テキスト テキスト
          テキスト テキスト テキスト テキスト テキスト テキスト テキスト
          テキスト テキストテキストテキスト テキスト テキスト テキスト テキスト
        </div>
        <div class='p-reasons__link'>
          <a href='#' class='c-link'> 詳しく見る </a>
        </div>
      </div>
      <div class='p-reasons__img-area'>
        <div class='p-reasons__img'>
          <img src={`${imgBase}/svg/wave.svg`} alt='' alt='' />
        </div>
      </div>
    </li>
    <li class='p-reasons__item'>
      <div class='p-reasons__text-area'>
        <h3 class='p-reasons__title'>
          森半の<br class='is-sm' />
          ブランドについて
        </h3>
        <div class='p-reasons__text'>
          テキストテキストテキストテキストテキストテキスト テキスト テキスト
          テキスト テキスト テキスト テキスト テキスト テキスト テキスト
          テキスト テキスト テキスト テキスト テキスト テキスト テキスト
          テキスト テキストテキストテキスト テキスト テキスト テキスト テキスト
        </div>
        <div class='p-reasons__link'>
          <a href='#' class='c-link'> 詳しく見る </a>
        </div>
      </div>
      <div class='p-reasons__img-area'>
        <div class='p-reasons__img'>
          <img src={`${imgBase}/svg/wave.svg`} alt='' alt='' />
        </div>
      </div>
    </li>
    <li class='p-reasons__item'>
      <div class='p-reasons__text-area'>
        <h3 class='p-reasons__title'>
          森半の<br class='is-sm' />
          ブランドについて
        </h3>
        <div class='p-reasons__text'>
          テキストテキストテキストテキストテキストテキスト テキスト テキスト
          テキスト テキスト テキスト テキスト テキスト テキスト テキスト
          テキスト テキスト テキスト テキスト テキスト テキスト テキスト
          テキスト テキストテキストテキスト テキスト テキスト テキスト テキスト
        </div>
        <div class='p-reasons__link'>
          <a href='#' class='c-link'> 詳しく見る </a>
        </div>
      </div>
      <div class='p-reasons__img-area'>
        <div class='p-reasons__img'>
          <img src={`${imgBase}/svg/wave.svg`} alt='' alt='' />
        </div>
      </div>
    </li>
  </ol>
</section>
