---
import '../styles/style.css';
const imgBase = import.meta.env.PUBLIC_IMAGE_BASE;
---

<html lang='ja'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <link
      rel='stylesheet'
      href='https://fonts.googleapis.com/css2?family=Corinthia&family=Noto+Serif+JP:wght@400;500;600;700&display=swap'
    />
    <link rel='stylesheet' href='https://use.typekit.net/evc5omg.css' />
    <link
      rel='stylesheet'
      href='https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css'
    />
    <link
      rel='stylesheet'
      href='https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css'
    />
    <script src='https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js'
    ></script>
    <script
      src='https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js'
    ></script>
    <script src='/js/splide.js' defer></script>
    <script src='/js/index.js' defer></script>
    <title>森半の敬老の日</title>
  </head>
  <body>
    <slot />
    <div class='c-scroll-top'>
      <a href='#top'>
        <img src={`${imgBase}/svg/icon_scroll.svg`} alt='トップへ戻る' />
      </a>
    </div>
  </body>
</html>
